page-login {
    .bg-image {
        background-image: url('../assets/imgs/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    ion-item.item {
        background: transparent;
    }

    button.button {
        margin-top: 20px;
    }
}
