<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="bg-image">
   <div style="padding-top: 45vh;">
      <ion-card>
        <ion-card-content>
            <ion-list no-line>
                <ion-item>
                  <ion-icon name="ios-call" item-left></ion-icon>
                  <ion-input placeholder="Phone Number" type="tel" required [(ngModel)]="mobile"></ion-input>
                </ion-item>
              </ion-list>
              <button ion-button block outline (click)="tryLogin()">Log In</button>
        </ion-card-content>
      </ion-card>
  </div>
  
  <button ion-button  clear full color="dark" (click)="goRegister()">don't have an account? Sign up</button>
  </ion-content>

 
