<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Register Recehin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Full name" [(ngModel)]='fullname'></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="number" placeholder="Phone Number" [(ngModel)]='phoneNumber'></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="email" placeholder="Email" [(ngModel)]='email'></ion-input>
    </ion-item>
    <ion-item>
      <ion-input maxlength="6" type="password" placeholder="Security Code" [(ngModel)]='security_code'></ion-input>
  </ion-item>
  </ion-list>

  <button ion-button block outline (click)="register()">Register</button>

</ion-content>
