

<ion-tabs color="primary" tabsPlacement="top" tabsHideOnSubPages="true">
  <ion-tab tabIcon="home" tabTitle="Home" [root]="homePage"></ion-tab>
  <ion-tab tabIcon="pricetag" tabTitle="Deals" [root]="dealsPage"></ion-tab>
  <ion-tab tabIcon="list" tabTitle="History" [root]="historyPage"></ion-tab>
</ion-tabs>