<!--
  Generated template for the OtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title >OTP Code</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-label text-center>Input your OTP code</ion-label>
      <div style="width:75%; padding-left: 28%; padding-top: 10%">
        <ion-grid>
          <ion-row>
            <ion-col col->
              <ion-input type="text" placeholder="_" style="font-size:30px"></ion-input>
            </ion-col>
            <ion-col col->
              <ion-input type="text" placeholder="_" style="font-size:30px"></ion-input>
            </ion-col>
            <ion-col col->
              <ion-input type="text" placeholder="_" style="font-size:30px"></ion-input>
            </ion-col>
            <ion-col col->
              <ion-input type="text" placeholder="_" style="font-size:30px"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      

      <ion-input type="number" [(ngModel)]="otp">OTP CODE</ion-input>




      <button ion-button block outline (click)="goNext()">Next</button>
</ion-content>