<ion-header>
  <ion-navbar color="primary" hideBackButton>
    <ion-title>Recehin</ion-title>

    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="goSetting()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <div class="top-header" >
    <ion-item text-center color="primary" no-lines>
      <p> <strong>Your Balance</strong>  </p>
      <p>Rp {{currentUser.balance}}</p>
    </ion-item>

    <div class="option-section" style="margin: 20px 20px">
        <ion-item>
          <ion-row>
            <ion-col style="border-right: 2px solid #e8eaf6;">
              <button ion-button full clear icon-only (click)="goTransfer()">
                  <ion-icon name="send"></ion-icon>
              </button>
              <p text-center>Transfer</p>
            </ion-col>
            <ion-col>
                <button ion-button full clear icon-only (click)="scanCode()">
                    <ion-icon name="qr-scanner"></ion-icon>
                </button>
                <p text-center>Scan</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
  </div>

  <div class="other-menu" style="margin-top: 70px;padding-bottom:30%;">
    
    <ion-row>
      <ion-col>
          <button ion-button full clear icon-only (click)="showRegister()">
              <ion-icon name="hand"></ion-icon>
          </button>
          <p text-center>Charity</p>
      </ion-col>
      <ion-col>
          <button ion-button full clear icon-only>
              <ion-icon name="logo-bitcoin"></ion-icon>
          </button>
          <p text-center>Investment</p>
      </ion-col>
      <ion-col>
          <button ion-button full clear icon-only>
              <ion-icon name="logo-usd"></ion-icon>
          </button>
          <p text-center>Saving</p>
      </ion-col>
      <!-- <ion-col>
          <button ion-button full clear icon-only>
              <ion-icon name="qr-scanner"></ion-icon>
          </button>
          <p text-center>Scan</p>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <button ion-button full clear icon-only>
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
            <p text-center>Scan</p>
        </ion-col>
        <ion-col>
            <button ion-button full clear icon-only>
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
            <p text-center>Scan</p>
        </ion-col>
        <ion-col>
            <button ion-button full clear icon-only>
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
            <p text-center>Scan</p>
        </ion-col>
        <ion-col>
            <button ion-button full clear icon-only>
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
            <p text-center>Scan</p>
        </ion-col> -->
      </ion-row>
  </div>
<!-- richard kasih footer -->
  <ion-footer>
  <ion-scroll scrollX="true" direction="x">
        <ion-card>
            <div style="height: 120px;"><img style="width : 100%;height:120px"  src="assets/imgs/banner1.png"/></div>

        </ion-card>

        <ion-card>
            <div style="height: 120px;"><img style="width : 100%;height:120px" src="assets/imgs/banner2.jpg"/></div>

            </ion-card>

            <ion-card>
            <div style="height: 120px;"><img style="width : 100%;height:120px" src="assets/imgs/banner3.jpg"/></div>

        </ion-card>
    </ion-scroll>
    </ion-footer>
</ion-content>
