page-home {
    .top-header{
        
        background-color: #6495ED;
        height: 120px;
        text-align: center;
        color: white;
        position: relative;
    }

    .option-section{
        color: #fce4ec;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: absolute;
        top: 50px;
        width: 90%; 
        
    }

    .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    ion-card {
        
        width: 380px !important;
        display: inline-block;
    }

    ion-scroll {
        min-height: 160px; 
        height: auto;

            .scroll-content {
            padding: 0px !important;
        }    
    }
}
