<!--
  Generated template for the DealsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <expandable-header class="header-img" [scrollArea]="mycontent" headerHeight="125" [style.background-image]="banner">
  </expandable-header>

  <ion-navbar>
    <ion-title>Deals Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen #mycontent>
  <ion-list>
    <ion-item>
      <h2>{{voucher.name}}</h2>
      <p>Deals berkahir : {{voucher.expired_date}}</p>
      <h3>
        <ion-icon name="pricetag"></ion-icon>
        Tersisah {{voucher.quantity}} voucher
      </h3>
    </ion-item>
    <ion-item>
      <h2>Detail</h2>
      <p text-wrap>
          {{voucher.description}} 
      </p>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-item>
      <h2>{{voucher.name}}</h2>
      <p>Deals berkahir : {{voucher.expired_date}}</p>
      <h3>
        <ion-icon name="pricetag"></ion-icon>
        Tersisah {{voucher.quantity}} voucher
      </h3>
    </ion-item>
    <ion-item>
      <h2>Detail</h2>
      <p text-wrap>
          {{voucher.description}} 
      </p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <h2>{{voucher.name}}</h2>
      <p>Deals berkahir : {{voucher.expired_date}}</p>
      <h3>
        <ion-icon name="pricetag"></ion-icon>
        Tersisah {{voucher.quantity}} voucher
      </h3>
    </ion-item>
    <ion-item>
      <h2>Detail</h2>
      <p text-wrap>
          {{voucher.description}} 
      </p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <h2>{{voucher.name}}</h2>
      <p>Deals berkahir : {{voucher.expired_date}}</p>
      <h3>
        <ion-icon name="pricetag"></ion-icon>
        Tersisah {{voucher.quantity}} voucher
      </h3>
    </ion-item>
    <ion-item>
      <h2>Detail</h2>
      <p text-wrap>
          {{voucher.description}} 
      </p>
    </ion-item>
  </ion-list> -->
</ion-content>

<ion-footer text-center no-border transparent style="margin-bottom: 10px;">
    <button ion-button round style="width: 80%;" (click)="buyVoucher()">Ambil!</button>
</ion-footer>