<!--
  Generated template for the ReceiveBalancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ReceiveBalance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <h2>Yeay, You Just Receieve {{balance}} fund</h2>
    <button ion-button circle block (click)="recieveBalance()">Proceed</button>
  </ion-item>
</ion-content>
