<ion-header>

  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-card>
      <ion-grid style="padding: 0; position: relative;">
          <ion-row>
            <ion-col style="padding: 0">
                <img class="img-clipped" src="assets/imgs/banner2.jpg"/>
            </ion-col>
            <ion-col text-right>
              <h2>Anang Family Karoke</h2>
              <p>2 jam karaoke (Small Room) + Snacks</p>
              <br>
              <br>
              <h2>Rp75.000</h2>
            </ion-col>
          </ion-row>
          <div class="round-logo">
              <img class="img-clipped-round" src="assets/imgs/banner3.jpg"/>
          </div>          
        </ion-grid>
  </ion-card> -->

  <ion-list [virtualScroll]="dealsList" style="margin-top: 20px;">
      <ion-card *virtualItem="let deal" (click)="getVoucher(deal)">
          <ion-grid style="padding: 0; position: relative;">
              <ion-row>
                <ion-col style="padding: 0">
                    <img class="img-clipped" src="{{deal.banner}}"/>
                </ion-col>
                <ion-col text-right>
                  <h2>{{deal.provider}}</h2>
                  <p>{{deal.name}}</p>
                  <br>
                  <br>
                  <h2>{{deal.price}}</h2>
                </ion-col>
              </ion-row>
              <div class="round-logo">
                  <img class="img-clipped-round" src="{{deal.logo}}"/>
              </div>          
            </ion-grid>
      </ion-card>
  </ion-list>
  

  
</ion-content>
