page-deals-list {
    .img-clipped{
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        object-fit: cover; 
        height: 100%;
    }

    .img-clipped-round{
        clip-path: circle(27.5% at 50% 50%);
    }

    .round-logo{
        width: 30%;
        position: absolute;
        left: 85px;
        top: 5px;
    }

    .searchbar-input {
        border: 0 !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }
}
