<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Recehin</ion-title>

    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #content>
    <ion-list *ngFor="let singleHistory of history ">
        <ion-list-header ion-affix [content]="content" color="secondary">
          {{singleHistory.date}}
        </ion-list-header>
        <ion-item *ngFor="let transaction of singleHistory.transactions">
          <ion-row>
            <ion-col><h2>{{transaction.party}}</h2></ion-col>
          </ion-row>

          <ion-row justify-content-between>
              <ion-col col-4><p>{{transaction.event}}</p></ion-col>
              <ion-col *ngIf=" transaction.operation == 'subtract' " text-right col-4>-{{transaction.amount}}</ion-col>
              <ion-col *ngIf=" transaction.operation == 'add' " text-right col-4>+{{transaction.amount}}</ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
</ion-content>
