<!--
  Generated template for the TransferPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Transfer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="top-header" >
    <ion-item text-center color="new" no-lines>
      <p> <strong>Your Balance</strong>  </p>
      <p>Rp 20000</p>
    </ion-item>
    </div>
    <ion-label style="text-align:center">Input your balance</ion-label>
    <div class="option-section" style="margin: 20px 20px;padding-left: 40%">
      <ion-input placeholder="10000" type="text"></ion-input>
    </div>
    <button ion-button block outline color="primary" style="margin-top: 20px">Transfer</button>

</ion-content>
