page-deals {
    .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    ion-card {
        
        width: 380px !important;
        display: inline-block;
    }

    ion-scroll {
        min-height: 160px; 
        height: auto;

            .scroll-content {
            padding: 0px !important;
        }    
    }

    .shadow{
        box-shadow: -1px 2px 5px 0px rgba(230,205,230,1);
    }
}
