<ion-header>

  <ion-navbar color="primary">
    <ion-title>Recehin</ion-title>

    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  
  <ion-scroll scrollX="true" direction="x">
      <ion-card (click)="featuredDeal()">
        <div style="height: 120px;"><img src="assets/imgs/banner1.png"/></div>

      </ion-card>

      <ion-card>
        <div style="height: 120px;"><img src="assets/imgs/banner2.jpg"/></div>

        </ion-card>

        <ion-card>
          <div style="height: 120px;"><img src="assets/imgs/banner3.jpg"/></div>

          </ion-card>
    </ion-scroll>


    <div class="other-menu">
        <ion-row>
          <ion-col style="border-right: 2px solid #e8eaf6;">
              <button ion-button full clear icon-only>
                  <ion-icon name="happy"></ion-icon>
              </button>
              <p text-center>Deals & Promo</p>
          </ion-col>
          <ion-col style="border-right: 2px solid #e8eaf6;">
              <button ion-button full clear icon-only>
                  <ion-icon name="navigate"></ion-icon>
              </button>
              <p text-center>Merchant</p>
          </ion-col>
          <ion-col>
              <button ion-button full clear icon-only>
                  <ion-icon name="download"></ion-icon>
              </button>
              <p text-center>My Voucher</p>
          </ion-col>
        </ion-row>
      </div>

      <ion-item no-lines>
        Kategori
      </ion-item>

      <div class="deal-category" style="margin-bottom: 15px;">
        <ion-grid>
            <ion-row justify-content-around>
                <ion-col col-3 class="shadow" style="margin: 0 5px;">
                  <button (click)="getDealsDetail()" ion-button full clear icon-only>
                    <ion-icon name="restaurant"></ion-icon>              
                  </button>
                  <p text-center>food &amp; beverages</p>
                </ion-col>
                <ion-col col-3 class="shadow" style="margin: 0 5px;">
                  <button ion-button full clear icon-only>
                    <ion-icon name="car"></ion-icon>              
                  </button>
                  <p text-center>transport</p>
                </ion-col>
                <ion-col col-3 class="shadow" style="margin: 0 5px;">
                  <button ion-button full clear icon-only>
                    <ion-icon name="game-controller-b"></ion-icon>              
                  </button>
                  <p text-center>entertainment</p>
                </ion-col>
              </ion-row>

              <ion-row justify-content-around style="margin-top: 15px;">
                  <ion-col col-3 class="shadow" style="margin: 0 5px;">
                    <button ion-button full clear icon-only>
                      <ion-icon name="restaurant"></ion-icon>              
                    </button>
                    <p text-center>food &amp; beverages</p>
                  </ion-col>
                  <ion-col col-3 class="shadow" style="margin: 0 5px;">
                    <button ion-button full clear icon-only>
                      <ion-icon name="car"></ion-icon>              
                    </button>
                    <p text-center>transport</p>
                  </ion-col>
                  <ion-col col-3 class="shadow" style="margin: 0 5px;">
                    <button ion-button full clear icon-only>
                      <ion-icon name="game-controller-b"></ion-icon>              
                    </button>
                    <p text-center>entertainment</p>
                  </ion-col>
                </ion-row>
              
              
        </ion-grid>        
      </div>
</ion-content>
