<!--
  Generated template for the PengaturanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button clear full outline color="dark"(click)="goEdit()">Edit Profile</button>
  <button ion-button block outline color="danger" style="margin-top: 20px">Sign Out</button>
</ion-content>
